*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f6f9;
}

#app-content{
    opacity:1;
    transition:opacity .18s ease;
}

#app-content.is-loading{
    opacity:0;
}

/* ===========================
   Page Loader
=========================== */

#page-loader{
    position:fixed;
    top:0;
    left:0;
    width:0;
    height:3px;
    background:#3b82f6;
    z-index:9999;
    opacity:0;
    transition:
        width .25s ease,
        opacity .20s ease;

}

#page-loader.loading{
    width:100%;
    opacity:1;
}