<div id="modal-overlay" class="modal-overlay">

    <div class="modal">

        <div class="modal-icon">

            <i class="fa fa-trash"></i>

        </div>

        <div
            id="modal-title"
            class="modal-title"
        >
        </div>

        <div class="modal-divider"></div>

        <div
            id="modal-message"
            class="modal-message"
        >
        </div>

        <div class="modal-actions">

            <button
                id="modal-cancel"
                class="btn btn-outline"
            >
                Cancelar
            </button>

            <button
                id="modal-confirm"
                class="btn btn-danger"
            >
                Apagar
            </button>

        </div>

    </div>

</div>