<div id="modal-overlay" class="modal-overlay">

    <div class="modal">

        <div
            id="modal-icon"
            class="modal-icon modal-icon-danger"
        >

            <img
                id="modal-icon-symbol"
                class="modal-icon-symbol"
                src="/static/icons/delete.svg"
                alt=""
            >

        </div>

        <div
            id="modal-title"
            class="modal-title"
        >
        </div>

        <div class="modal-divider"></div>

        <div
            id="modal-message"
            class="modal-message"
        >
        </div>

        <div class="modal-actions">

            <button
                id="modal-cancel"
                class="btn btn-outline"
            >
                Cancelar
            </button>

            <button
                id="modal-confirm"
                class="btn btn-danger"
            >
                Apagar
            </button>

        </div>

    </div>

</div>